body {
  color: var(--color-neutral-950);
  background-color: var(--color-neutral-50);
}

html.dark body {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-950);
}

@theme {
  --color-primary: var(--color-blue-600);
  --color-primary-light: var(--color-blue-400);
  --color-primary-dark: var(--color-blue-700);
  --color-secondary: var(--color-neutral-700);
  --color-secondary-light: var(--color-neutral-300);
  --color-secondary-dark: var(--color-neutral-700);
  --color-success: var(--color-green-600);
  --color-success-light: var(--color-green-500);
  --color-success-dark: var(--color-green-700);
  --color-warning: var(--color-orange-600);
  --color-warning-light: var(--color-orange-500);
  --color-warning-dark: var(--color-orange-700);
  --color-danger: var(--color-red-600);
  --color-danger-light: var(--color-red-500);
  --color-danger-dark: var(--color-red-700);
}
